# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3

# Django migrations
*/migrations/

# Static files
/static/

# Virtual environments
/CRUD-APP/virtualenv/
/crud_app/mainapp/__pycache__
/crud_app/mainapp/migrations

