{% extends "layout.html" %}

{% load static %}

{% block title %}
<title>Add Product | CRUD App</title>
{% endblock %}

{% block cssfile %}
<link rel="stylesheet" href="{% static 'css/addproduct.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title">Add New Product</h1>

    <form action="{% url 'add-product'%}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Product Name -->
        <div class="form-group">
            <label for="productName" class="label">Product Name</label>
            <input type="text" id="productName" name="productName" class="input" required>
        </div>

        <!-- Category -->
        <div class="form-group">
            <label for="category" class="label">Category</label>
            <select id="category" name="category" class="input" required>
                <option value="" disabled selected>Select a Category</option>
                <option value="laptop">Laptop</option>
                <option value="smartphone">Smartphone</option>
                <option value="tablet">Tablet</option>
                <option value="smartwatch">Smartwatch</option>
                <option value="headphones">Headphones</option>
            </select>
            
        </div>

        <!-- Quantity -->
        <div class="form-group">
            <label for="quantity" class="label">Quantity</label>
            <input type="number" id="quantity" name="quantity" min="1" class="input" required>
        </div>

        <!-- Price -->
        <div class="form-group">
            <label for="price" class="label">Price</label>
            <input type="text" id="price" name="price" class="input" required>
        </div>

        <!-- Image Upload -->
        <div class="form-group">
            <label for="image" class="label">Product Image</label>
            <input type="file" id="image" name="image" class="input" required>
        </div>

        <!-- Submit Button -->
        <div class="form-group center">
            <button type="submit" class="btn">Add Product</button>
        </div>
    </form>
</div>

<!-- Back to Product List Button -->
<div class="center">
    <a href="{% url 'product-list'%}" class="btn back-btn">&larr; Back to Product List</a>
</div>
{% endblock %}
