{% extends "layout.html" %}

{% block content %}
<div class="container">
    <!-- Header with Title and Add Button -->
    <div class="flex">
        <h1>Product Inventory</h1>
        <a href="{% url 'add-product'%}" class="add-product-btn">
            Add Product
        </a>
    </div>

    <!-- Responsive Table Container -->
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Product Image</th>
                    <th>Product Name</th>
                    <th>Category</th>
                    <th>Stock Quantity</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products%}
                <tr>
                    <td>1</td>
                    <td><img src=" " alt="{{product.productName}}"></td>
                    <td>{{product.productName}}</td>
                    <td></td>
                    <td>{{product.stockQuantity}}</td>
                    <td>${{product.productPrice}}</td>
                    <td class="flex-center">
                        <a href="{% url 'edit-product'%}" class="edit-btn">Edit</a>
                        <a href="#" class="delete-btn">Delete</a>
                    </td>
                </tr>
                {% endfor %}                
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
