{% extends "layout.html" %}
{% block content %}
<div class="signup-section">
    <div class="container">
        {% if messages %}
        <div class="alert alert-danger" role="alert">
            {% for message in messages %}
                {{message}}
            {% endfor %} 
        </div>
        {% endif %}
        <h2>Sign Up</h2>
        <div class="form-container">
            <form action="{% url 'user-signup'%}" method="POST" >
                {% csrf_token %}
                <div class="input-name">
                    <i class="fa-solid fa-user lock"></i>
                    <input type="text" placeholder="First Name" class="fname" name="firstName">
                    <span>
                        <i class="fa-solid fa-user lock"></i>
                        <input type="text" placeholder="Last Name" class="lname" name="lastName">
                    </span>
                </div>

                <div class="input-name">
                    <i class="fa-solid fa-envelope envelope"></i>
                    <input type="text" placeholder="Email" class="email" name="emailAddress">
                    
                </div>
                
                <div class="input-name">
                    <i class="fa-solid fa-user phoneNumber"></i>
                    <input type="text" placeholder="Username" class="username" name="username">
                </div>
                
                <div class="input-name">
                    <i class="fa-solid fa-lock pass"></i>
                    <input type="password" placeholder="Password" class="password" name="password">
                </div>

                <div class="input-name">
                    <input type="submit" class="btn" value="Sing Up">
                </div>
                
                <div class="login-link">
                    <p>Already have an account? <a href="{% url 'user-login' %}">Log In</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}